

:root{
	--main-bg-color:#F5F5F5;
	--second-bg-color:#e8e8e8;
	--text-color:#000000;
	--border-color:#da3131;
	--border-color-dienst:#da3131;
	--border-color-list:#FFFFFF;
	--hr-color:#da0000;
	--rpbox-textbg-color:#808080a1;
	--list-option-color:rgb(171,37,36);
	--list-option-hover-color:linear-gradient(rgba(171,37,36, 0.7),rgba(171,37,36, 0.7));
	--list-option-hover-color-moz:-moz-linear-gradient(rgba(171,37,36, 0.7),rgba(171,37,36, 0.7));
	--list-option-hover-color-web:-webkit-linear-gradient(rgba(171,37,36, 0.7),rgba(171,37,36, 0.7));
}

@font-face{
	font-family:'Roboto';
	src:url('./../Schriftarten/Roboto-Regular.ttf') format('truetype');
}

*{
	font-family: 'Roboto', sans-serif;
	color:var(--text-color);
}
body {
	display:flex;
	margin:0;
	min-width:auto;
	min-height:auto;
	overflow-x:hidden;
	flex-flow: column wrap;	
	background-color:var(--main-bg-color);
}

div {
	display:flex;
	flex-flow: column wrap;

}
hr {
	padding:0px;
	width:-webkit-fill-available;
	max-height:1px;
	border-color:var(--hr-color);
}
#main > *{

	margin:auto;
	flex: 1 100%;
	flex-flow: column wrap;
}
@media(min-width:694px){
	.all {
		height:-webkit-fill-available;	
		height: 100%;
		height: -moz-available;          
		height: fill-available;
		margin:auto;
		flex: 1 100%;
		flex-flow: row nowrap;
		max-height:min-content;
		width:-webkit-fill-available;
		width: 100%;
		width: -moz-available;          
		width: fill-available;
		margin-bottom:4px;
		padding-top:70px;
	}
	/*Sidebar*/
	#media_options{
		min-height:-webkit-fill-available;
		height:fit-content;
		width:20%;
		min-width:fit-content;
		padding:20px;
		top:70px;
		position:sticky;
	}
	.content{
	width:80%;
	padding:0 70px;
	padding-bottom:20px;
	}
}
@media(max-width:693px){
	.all {
		height:-webkit-fill-available;	
		height: 100%;
		height: -moz-available;          
		height: fill-available;
		margin:auto;
		flex: 1 100%;
		flex-flow: column nowrap;
		max-height:min-content;
		width:-webkit-fill-available;
		width: 100%;
		width: -moz-available;          
		width: fill-available;
		margin-bottom:4px;
		padding-top:70px;
	}
	/*Sidebar*/
	#media_options{
		min-height:-webkit-fill-available;
		height:fit-content;
		width:81%;
		min-width:fit-content;
		padding:20px;
		top:70px;
		margin:0 auto;
	}
	.content{
	width:80%;
	margin:0 auto;
	padding-bottom:20px;
	flex-flow:column;
	}
}
.media{
	align-items: center;
	display:grid;
	padding:20px;
	width:80%;	
}
.list{
	min-height:-webkit-fill-available;
	height:fit-content;
	width:100%;
	min-width:fit-content;
	list-style:none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow:column nowrap;
	padding:0;
	margin:0;
	justify-content:space-between;
}
.list_option{
	border:solid var(--border-color-list);
	border-width:1px;
	border-collapse:collapse;
	border-top:none;
	flex-grow:1;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:var(--list-option-color);
	padding:10px;
}
#list_first{
	border-top:solid var(--border-color-list);
	border-width:1px;
	border-collapse:collapse;
}
.list_option:hover{
	background: var(--list-option-hover-color-moz);
	background: var(--list-option-hover-color-web);
	background: var(--list-option-hover-color);
}
.list a{	
	flex-grow: 1;
    justify-content: center;
    display: flex;
	text-decoration:none;
	cursor:pointer;	
}
/*Content*/
.list span{
	color:var(--text-color);
}
span{
	color:#da0000;
}

h2,h3{
	margin-bottom:2px;	
}
a:hover{
	color:#FC0A1C;
}
/*Einsätze*/
.month{
	
}
.filterDiv{
	display:none;
	flex-flow:row;
	width:100%;
	border:1px solid var(--border-color);
	background-color:var(--second-bg-color);
}
.e_img{
	width:10%;
	border-right:1px solid var(--border-color);
	padding:6px;
}
.e_img img{
	object-fit:contain;
	max-height:100px;
}
.e_text{
	width:90%;
}
.e_name{
	padding-left:10px;
}
.e_name h3{
	margin-top:5px;
}
.e_bericht{
	padding:10px;
}
.e_text hr{
	margin:0;
}
div.show{
	display:flex;
}
br{
	display:none;
}
br.show{
	display:block;
}
.btn.active .list_option{ 
	background: var(--list-option-hover-color-moz);
	background: var(--list-option-hover-color-web);
	background: var(--list-option-hover-color);
}